extends base.pug
block scripts
     script(src="../static/index.js")
     script(src="https://kit.fontawesome.com/5674f0201f.js" crossorigin="anonymous")
block style 
     style 
       include ../static/style.css
       include ../static/about.css
block content 
    div.container4
       div.item4
        img.item4-0(src="/static/img/jjk.jpg")
        div.item4-1
         a(href="https://instagram.com/nishant_weeb?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==")
           img.it(src="/static/img/insta.png")
         a(href="https://www.facebook.com/nishant.khorwal.3?mibextid=ZbWKwL") 
           img.em(src="/static/img/fb.png")
       div.item5
          h1 ABOUT US
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laboriosam porro odio possimus fugit? Quisquam praesentium iste vel ad tempore! Illum assumenda deleniti totam quam dignissimos, corporis iure minima dolorum error aut, quas expedita officiis nemo quia eius. Eaque nemo rem quas voluptatum deleniti reiciendis quisquam optio libero? Optio quo eos tempore aperiam reprehenderit ullam similique. Dolorem fuga odio impedit tenetur provident omnis unde sequi? Repudiandae ea, architecto in consectetur maiores dolores delectus nemo doloribus et aliquam veritatis alias explicabo numquam iure ipsum velit iusto molestias voluptas. Odio quidem atque tempora eaque praesentium voluptatibus laudantium ipsum voluptates soluta quaerat corrupti inventore quae culpa accusantium unde, natus reiciendis cupiditate saepe eveniet nam, placeat eligendi? Tenetur, repudiandae at. Ipsum quaerat eaque explicabo cupiditate consectetur a minus neque unde cum tempore quibusdam facilis quasi soluta blanditiis labore fugit quam impedit perferendis necessitatibus nam tempora molestiae, culpa possimus! Exercitationem cumque maiores esse ipsum aut.