extends base.pug

block style 
     style 
       include ../static/style.css
block content
   div.container2
    div.cheeje0 
       div.cheeje1
         div.cheeje1-0 
           span.cheeje1-1 #[a(href='/music') Music]
           h1 #[a(href='/music') Your Music Preference Says About You And Your Personality]
           div.cheeje1-2 
              img(src="/static/img/profile.jpg")
              ul 
                li Nishant 
                i.fa.fa-arrow-circle-right
                li September 2023
               
    div.cheeje2 
       div.cheej2-1
           div.cheeje2-0
             span.cheejeA Management 
             h1 Pomodoro Technique Really Works 
             div.cheejeB
               ul 
                 li Nishant 
                 i.fa.fa-arrow-circle-right
                 li September 2023
       div.cheej2-2 
            div.cheejeC
             span.cheejeD Lifestyle 
             h1 Lifestyle Matters 
             div.cheejeE
               ul 
                 li Nishant 
                 i.fa.fa-arrow-circle-right
                 li September 2023
   div.blogs#blog  
    div.blog1 
      div.blog1-1 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals. 
      div.blog1-2 
            img(src="/static/img/music2.jpg")
            ul  
              li September 10,2023
            h1 Music 
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates delectus possimus odio ut harum beatae amet repellendus quae ad, suscipit esse et optio eaque, alias pariatur! Dignissimos ipsam explicabo incidunt molestias nihil rerum inventore, minus officiis optio, quas similique aliquam nostrum eum expedita provident maiores?
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.      
    div.blog2 
      div.blog2-1
            blockquote
              i.fa.fa-quote-right 
              p Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.
              cite Dieter Rams                                     
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
    div.blog3 
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
    div.blog4
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
block scripts
     script(src="../static/index.js")
     script(src="https://kit.fontawesome.com/5674f0201f.js" crossorigin="anonymous")            