doctype html 
html 
head 
   style 
     include ../static/style.css
body
   div.container
      div.item1 
       ul 
           li.l1  
             a(href="https://instagram.com/nishant_weeb?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==")
               i.fa.fa-instagram
           li.l2 
             a(href="https://www.facebook.com/nishant.khorwal.3?mibextid=ZbWKwL")
               i.fa.fa-facebook
           li.l2 
             a(href="https://instagram.com/nishant_weeb?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==")
               i.fa.fa-linkedin 
           li.l2 
             a(href="https://instagram.com/nishant_weeb?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==")
               i.fa.fa-twitter 
      h1.item2 All About Me
      div.item3 
        input(class="search" type='text' placeholder='Search..')
        i.fa.fa-search
   div.line4     
   nav.navbar 
         div.dropdown
           div.select 
             span.selected #[a(href='/') Home]
             div.caret
         div.dropdown
           div.select 
               span.selected Category
               div.caret
           ul.menu 
             li Lifestyle 
             li Family    
             li Health 
             li Management
             li.active Categories
         div.dropdown
           div.select 
               span.selected #[a(href='/') Blogs]
               div.caret
         div.dropdown
           div.select 
               span.selected #[a(href='/') Style]
               div.caret
         div.dropdown
           div.select 
               span.selected #[a(href='/') About]
               div.caret
         div.dropdown
           div.select 
               span.selected #[a(href='#contact') Contact]
               div.caret
   div.container2
    div.cheeje0 
       div.cheeje1
         div.cheeje1-0
           span.cheeje1-1 Music
           h1 Your Music Preference Says About You And Your Personality 
           div.cheeje1-2 
              img(src="/static/img/profile.jpg")
              ul 
                li Nishant 
                i.fa.fa-arrow-circle-right
                li September 2023
               
    div.cheeje2 
       div.cheej2-1
           div.cheeje2-0
             span.cheejeA Management 
             h1 Pomodoro Technique Really Works 
             div.cheejeB
               ul 
                 li Nishant 
                 i.fa.fa-arrow-circle-right
                 li September 2023
       div.cheej2-2 
            div.cheejeC
             span.cheejeD Lifestyle 
             h1 Lifestyle Matters 
             div.cheejeE
               ul 
                 li Nishant 
                 i.fa.fa-arrow-circle-right
                 li September 2023
   div.blogs#blog   
    div.blog1 
      div.blog1-1 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals. 
      div.blog1-2 
            img(src="/static/img/music2.jpg")
            ul  
              li September 10,2023
            h1 Music 
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates delectus possimus odio ut harum beatae amet repellendus quae ad, suscipit esse et optio eaque, alias pariatur! Dignissimos ipsam explicabo incidunt molestias nihil rerum inventore, minus officiis optio, quas similique aliquam nostrum eum expedita provident maiores?
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.      
    div.blog2 
      div.blog2-1
            blockquote
              i.fa.fa-quote-right 
              p Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.
              cite Dieter Rams                                     
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
    div.blog3 
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
    div.blog4
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
      div.blog1-2 
            img(src="/static/img/lamp.jpg")
            ul  
              li September 10,2023
            h1 Introduction 
            p  My name is Nishant khorwal, I live in Delhi. I completed my schooling from Ramjas school pusa road and then pursued     Engineering from IP University. Currently, I am improving my web development skills and mastering languages like Html, CSS and Javascript. Come ill tell you a lot about me and my goals.
footer.start#Contact 
    div.container3 
       div.foot-item1 
         h2 Quick Links
         div.line  
         ul 
           li #[a(href='/') Home] 
           li #[a(href='/about') About] 
           li #[a(href='/') Contact]                          
       div.foot-item2
         h2 Socials 
         div.line2 
         ul 
           li
             a(href="https://instagram.com/nishant_weeb?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==")
               | Instagram
           li 
             a(href="https://www.facebook.com/nishant.khorwal.3?mibextid=ZbWKwL")
               | Facebook
           li 
             a(href="https://instagram.com/nishant_weeb?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==")
               | Linkedin 
           li 
             a(href="https://instagram.com/nishant_weeb?utm_source=qr&igshid=MzNlNGNkZWQ4Mg==")
               | Twitter 
       div.contactus
          h2 Contact Us
          div.line3
          div.card 
           form(action="/" , method= "post",class="myform",id="Contact") 
              input(type="text",class="myinput",name="Name",placeholder="Enter Your Name..")
              input(type="text",class="myinput2",name="email",placeholder="Enter Your Email id..")
              input(type="text",class="myinput2 myinput3",name="concern",placeholder="Enter Your Concern..")  
              button(class="btn")
                 | Submit        
footer.last
   ul 
    i.fa.fa-copyright 
    li.l1 Copyright 
    li All About Me 2023                         
                    

 
          
script 
include ../static/index.js 
script(src="https://kit.fontawesome.com/5674f0201f.js" crossorigin="anonymous")   